@import '../../styles/Mixins.scss';

.skill-card
{
    @include black-card;
    margin: 0;

    >div
    {
        padding: 15px 10px;
    }

    h6
    {
        font-size: 1em;
        font-weight: 400;
    }
}