@import '../../styles/Mixins.scss';
@import '../../styles/Colors.scss';

.skill-card
{
    @include black-card;
    margin: 0;

    >div
    {
        padding: 15px 10px;
    }

    p
    {
        &:first-child
        {
            margin-bottom: 8px;
        }
        color: $fg-color;
        font-size: 1em;
    }
}