@import '../../styles/Colors.scss';
@import '../../styles/Mixins.scss';

.social
{
    @media (max-width: 767px)
    {
      display: none;
    }

    align-items: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 40vh;
    left: 32px;
    right: auto;

    >*
    {
        margin-bottom: 25px;

        &:last-child
        {
            margin-bottom: 0;
        }
    }

    a
    {
        color: $fg-color;
        transition: all 0.3s ease;

        &:hover
        {
            color: $accent-color;
            transform: translateY(-2px);
        }

        &:focus
        {
            color: $accent-color;
        }
    }
}