// $bg-color: rgba(24, 32, 36, 1);
$bg-color: rgba(0, 0, 0, .9);

$Blue-Grey-Simple-2-rgba: rgba(67, 89, 100, 1);
$Blue-Grey-Simple-3-rgba: rgba(118, 145, 156, 1);
$Blue-Grey-Simple-4-rgba: rgba(175, 190, 197, 1);
$fg-color: rgba(235, 239, 242, 1);
$accent-color: rgba(89, 164, 245, 1);