@import '../../styles/Colors.scss';
@import '../../styles/Mixins.scss';

.navbar
{
  padding-top: 20px;
  @media (min-width: 768px)
  {
    padding: 20px 30px;
  }

  .navbar-nav
  {
    @media (min-width: 768px)
    {
      padding: 15px 0;
    }

    .nav-item
    {
      margin-bottom: 10px;
      transition: all 0.3s ease;

      &:hover
      {
        transform: translateY(-2px);
      }

      @media (min-width: 768px)
      {
        margin: 0 20px;
      }

      &.resume
      {

        &:hover
        {
          transform: none;
        }

        a
        {
          background: rgba(60, 165, 251, .12);
          border: 1px solid $accent-color;
          border-radius: 4px;
          color: $accent-color !important;
          padding: 8px 16px;

          &:hover
          {
          background: rgba(60, 165, 251, .24);

          }
        }
      }


      .navbar-text 
      {
        padding: 8px;

        @media (max-width: 767px)
        {
          padding: 8px 0;
        }
      }

      a
      {
        color: $fg-color !important;
        transition: all 0.3s ease;

        &:hover, &.selected, &:focus
        {
          color: $accent-color !important;
        }
      }
    }
  }
}