@import '../styles/Colors.scss';
@import '../styles/Mixins.scss';

#intro
{
    @media (min-width: 768px)
    {
        margin-top: 20px;
    }

    .header
    {
        p
        {
            font-weight: 500;
            margin: 8px 0;
        }

        h1
        {
            font-size: 3em;
        }

        h2 
        {
            font-size: 2.5em;
            margin-bottom: 0;
        }
    }

    .text
    {
        margin-top: 20px;

        .inner
        {
            display: flex;
            align-items: center;

            p
            {
                margin: 0;
                width: 592px;
            }

            img
            {
                @media (max-width: 767px)
                {   
                    display: none;
                }

                width: 96px;
                height: 96px;
                margin-right: 32px;
            }
        }

        
    }
}

.section
{
    margin-top: 60px;

    &#skills
    {
        >.row
        {
            >div
            {
                padding: 0 10px 20px;
            }
        }
    }

    &#contact
    {
        .contact-info
        {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;

            @media (max-width: 767px)
            {   
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }
}
