@import '../../styles/Colors.scss';

.rating
{
    background: black;
    border: 1px solid black;
    border-radius: 100%;
    content: " ";
    float: left;
    margin-right: 2px;
    height: 7px;
    width: 7px;

    &.empty
    {
        background: white;
        border-color: white;
    }

    &.filled
    {
        background-color: $accent-color;
        border-color: $accent-color;
    }
}