.rating
{
    background: black;
    border: 1px solid black;
    border-radius: 100%;
    content: " ";
    float: left;
    margin-right: 2px;
    height: 7px;
    width: 7px;

    &.empty
    {
        background: white;
        border-color: #888;
    }

    &.filled
    {
        background-color: #666;
        border-color: #666;
    }
}