@import '../../styles/Colors.scss';

.rating
{
    background: white;
    border: 1px solid white;
    border-radius: 100%;
    content: " ";
    float: left;
    margin-right: 2px;
    height: 7px;
    width: 7px;

    &.filled
    {
        animation: fill-color 1s ease;
        background-color: $accent-color;
        border-color: $accent-color;
    }
}

@keyframes fill-color
{
    0%
    {
        background-color: white;
        border-color: white;
    }
    100%
    {
        background-color: $accent-color;
        border-color: $accent-color;
    }
}