@import '../../styles/Mixins.scss';
@import '../../styles/Colors.scss';

.project-card
{
    @include black-card;
    margin: 0 0 30px;

    .carousel
    {
        margin-bottom: 30px;
    }

    >div
    {
        padding: 30px;
    }

    .links 
    {
        display: flex;
        
        > *
        {
            margin-right: 12px;
        }
    }

}