@import '../styles/fonts/Gilroy/Gilroy.css';
@import '../styles/Colors.scss';

body
{
    background: $bg-color;
    color: $fg-color !important;
    font-family: 'Gilroy';
    font-weight: 400;

    h1, h2, h3, h4, h5, h6
    {
        font-family: 'Gilroy';
        font-weight: 500;
    }

    a
    {
        transition: all 0.3s ease;
        
        &:hover
        {
            color: $accent-color !important;
            text-decoration: none;
        }
    }

    p
    {
        font-size: 1.125em !important;
        letter-spacing: .05em;
    }

    .accent
    {
        color: $accent-color;
    }

    *:focus {
        outline-color: $accent-color;
        outline-width: 2px;
    }
}
