@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.nav-item
{
  font: 400 1em 'Noto Sans JP';

  .title
  {
    font-weight: 500;
  }

  a
  {
    &:hover
    {
      text-decoration: underline;
    }
  }
}